[2018-12-22 06:31] shortjared opened #1 "Support role assumption from long term creds"
Instead of encouraging privileged long term creds, we should encourage long term creds with permissions only to assume an IAM role. Even better if we can restrict them to only GitHub action runner IP ranges.

[2019-01-30 05:36] ScottBrenner opened #3 ""python3.7 not found! Try the pythonBin option.""
Using Python 3.7 in my `serverless.yml`:
[code]

When I create a pipeline using this action it fails with
[code]

What Python version(s) are supported, could we add 3.7?

[2019-01-30 05:49] ScottBrenner commented on #3
Actually it looks like the only supported runtime for the image is Node.js, right?

[2019-07-07 10:43] khamaileon commented on #3
@ScottBrenner Do you have Python 3.7 installed locally ?

[2019-07-08 03:55] ScottBrenner commented on #3
@khamaileon Yes -
[code]

[2019-08-16 18:58] Vlaaaaaaad commented on #3
Did anybody manage to get this working?

[2019-08-17 16:51] Vlaaaaaaad commented on #3
I can confirm that changing the base image works. I did the change in [a fork](https://github.com/Vlaaaaaaad/github-action/blob/python-too/Dockerfile) using the first Dockerhub image I found with both Python 3.7 and Node:
[code]

and successfully used the resulting action:
[code]

I firmly believe that the official Serverless action should have support for **all** runtimes baked in by default.

[2019-08-25 04:00] khakiout commented on #3
Can I know how you are doing this. I managed to deploy a test serverless application (Java) using this action

[code]

[2019-08-25 07:48] khakiout opened #7 "Add example for YAML Syntax"
Since Github Actions will be migrating from HCL to YAML. We need to update the README usage.

I would like to add to the README an example of usage using YAML.

[2019-08-25 08:22] Vlaaaaaaad commented on #3
@khakiout what do you want to know? I basically just do a `npm install` to get all the Serverless plugins installed and then I call the action which does the dependency install, packaging, and deploy.

The job file:
[code]

[2019-09-25 15:42] dschep commented on #7
done

[2019-09-25 15:42] #7 closed

[2019-09-25 15:44] dschep commented on #3
The best solution to this will be to rewrite as a javascript action rather than a Docker action and then you can use `actions/setup-python` before the serverless action to ensure you have Python. I've been using my own fork of this for my python projects: https://github.com/dschep/serverless-python-action

[2019-10-03 14:58] timkellogg opened #9 "The request signature we calculated does not match the signature you provided"
I'm trying to deploy a serverless function through github actions but receive the following error:

[code]

I've setup the secrets on github and I've also manually deployed locally using:

[code]

And that successfully creates the application.

Any advice?

**Edit**

I believe it's related to permissions within AWS so I will close.

[2019-10-03 15:03] #9 closed

[2019-12-02 14:59] tdi opened #13 "Add support for plugins or document how"
There is currently no support for plugins and there should one. I suggest maybe an input where entrypoint would first install plugins and then run the args.

[2019-12-03 02:40] markelayan opened #14 "NPM@master not found"
Current runner version: '2.161.0'
Prepare workflow directory
Prepare all required actions
Download action repository 'actions/checkout@v1'
Download action repository 'jakejarvis/s3-sync-action@v0.5.0'
Download action repository 'actions/npm@master'
##[warning]Failed to download action 'https://api.github.com/repos/actions/npm/tarball/master'. Error Response status code does not indicate success: 4

[2019-12-04 13:17] tdi commented on #14
it is related to #10

[2019-12-04 15:24] raven-rwho opened #15 "Deploy a serverless project that uses the serverless-python-requirements plugin"
Hi,

as stated in the title I do not manage to build an action that allows the deployment of an Python based serverless project that uses the  serverless-python-requirements plugin.

The steps are looking like this
`name: Deploy master branch
on:
  pull_request:

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@master

[2019-12-05 06:58] tdi commented on #13
@dschep if you are interested I am willing to provide a PR for this.

[2019-12-05 07:02] tdi commented on #15
This is related to #13. I planned to do a Pull request to add plugin install support but if you are up to it then feel free. :)

[2019-12-05 07:03] tdi commented on #15
How I was solving this before was exactly like you did. By using earlier steps but this is inefficient because if builds the image every time. For me it worked however.

[2019-12-05 11:45] raven-rwho commented on #15
I have figured it out and it was just my mistake (I've pushed the node_modules folder to the repo... ) - closing the issue

[2019-12-05 11:45] #15 closed

[2019-12-05 11:46] raven-rwho commented on #15
Plugin support sounds cool let me know if I can help

[2019-12-28 06:21] AdeOpe commented on #9
@timkellogg how did you solve this?

[2020-01-06 11:39] edipetres opened #16 "Add support for deploying to specific stage"
Right now, we can only deploy to the default stage which is `dev`. Is it possible to add support for pushing to different stages?

[2020-01-06 12:48] adim commented on #16
you can do it like that:
`    - name: serverless deploy `
`      uses: serverless/github-action@python-nodejs`
`      with:`
`        args: deploy --stage stage`
`      env:`
`        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}`
 `       AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}`

[2020-01-18 18:54] amaurymartiny opened #17 "Error: spawnSync docker ENOENT"
Here's the relevant connfig in my action:

[code]

I get the following error

[code]

All the code is open source:
- Relevant PR: https://github.com/reacherhq/microservices/pull/8
- Error (including versions): https://github.com/reacherhq/microservices/pull/8/checks?check_run_id=396955211#step:5:13

A quick google search links me to this issue: https://github.com/serverless/serverless/issues/5663#

[2020-01-22 21:50] DarinDev1000 opened #18 "Error: Failed to download action 'https://api.github.com/repos/workflows/checkout/tarball/master'"
Here is my workflow file
[code]

I have also tried `- uses: actions/checkout@master` as the first step.

When I run it, I get this error:

[code]

Any ideas why it has an error?
Thanks

[2020-01-22 22:38] DarinDev1000 commented on #18
This pull request https://github.com/serverless/github-action/pull/10#pullrequestreview-346949619 fixes my issue.

The updated code should be:
[code]

[2020-01-22 22:49] DarinDev1000 commented on #14
https://github.com/serverless/github-action/issues/18#issuecomment-577419316

This pull request https://github.com/serverless/github-action/pull/19 fixes the issue.

The updated code should be:
[code]

[2020-01-30 04:51] morficus opened #20 "Support for multiple serverless.yml files"
I have a monorepo which holds three different Serverless projects. When deploying manually I can simply `cd` in to each directory and run `sls deploy`.

When using the GitHub workflow, is there a way to specify which directory to use as the "base" directory?

[2020-02-01 21:56] morficus opened #21 "[suggestions] Ideas to make this github-action more useful"
Hello lovely people of Serverless.

This Github Action has been super handy in automating my deployments and I really appreciate that Serverless is offering/hosting an official Github Action. Here are some ideas/suggestions on what I think would help make this action even more useful

1. Let users specify which version of `serverless` to use: there are 26 forks of this project and about 20 of them

[2020-02-07 19:58] sergioflores-j commented on #21
It would be really nice to have this implemented!

Also, caching the installation of Serverless Framework is something to think about, because for every service using this action (if using multiple jobs in the workflow) it installs again and again... adding some extra time at the end of the build process.

But, sadly, it looks like this repo is abandoned by its maintainers :/

[2020-03-11 19:22] lfreneda commented on #20
@morficus same scenario here :)

[2020-03-11 19:30] lfreneda commented on #20
@morficus any workaround?

[2020-03-12 08:17] bobbysoar commented on #20
@morficus @lfreneda I have a similar issue, unfortunately for the time being i had to resort to using npx serverless deploy with github's working-directory property

`      - name: Deploy Foo Stack For Dev
           run: npx serverless deploy
           working-directory: ./packages/foo`

[2020-03-21 19:07] michaelmerrill opened #25 "Is this repo being maintained?"
Hello Serverless,

It seems like this repo is abandoned. If so, would you recommend another package for the community to use and deprecate this one?

[2020-03-23 04:19] ScottBrenner commented on #3
Seems https://github.com/marketplace/actions/serverless-with-python-requirements supports it

[2020-04-05 06:35] reganjohnson commented on #20
Here is my solution to deploy different serverless.yml based on which branch I am running the action on:

[code]

Hope this helps someone!

[2020-04-06 18:50] matthewpoer opened #26 "Document capture of `Outputs` and `sls info` results"
This took a while to figure out so I'd like to share and advise that it'd be nice to see in the README or elsewhere in the documentation.

My use case was that I needed to capture some of my `resources.Outputs` from a serverless deployment for use with later scripting. For example, here's an excerpt from my `serverless.yml` file:

[code]

With that in place I can run `sls info --verbose` and captu

[2020-04-06 20:06] DavidWells commented on #26
Solid tip

I made a plugin that outputs outputs into a "manifest file" https://www.npmjs.com/package/serverless-manifest-plugin

This might help avoid some hardcode greps.

I'd love if `sls deploy` had a `--json` flag to output a simple structure to parse with `jq`

[2020-04-07 10:18] GurRonenExplorium opened #27 "pipenv not found"
Hey,

I have a project with dependencies managed with Pipfile.

I tried using this action to deploy, yet had an error:
  Error: pipenv not found! Install it with 'pip install pipenv'.
Added a step before to install pipenv but it isn't picking up

What is the solution to this?

[2020-04-07 12:23] matthewpoer commented on #26
@DavidWells thanks, and nice plugin. I think we've identified the same need. The first time I saw you could set output params. this way in sls I thought it was great. When I found the only way to access them was re-running sls, requiring re-authorization and again setting the stage _and_ the verbose flag, then having to dig for the result, I was not pleased.

[2020-04-19 03:36] guillermo-menjivar commented on #25
I found this https://gist.github.com/maxkostinevich/9672966565aeb749d41e49673be4e7fa from @michaelmerrill

[2020-04-19 03:38] guillermo-menjivar commented on #25
I was able to easily incorporate those steps into my existing definition without needed a new docker container

[2020-04-19 17:58] jackdcasey commented on #3
A bit late to the party, In case anyone is having the same issue with Python 3.8, this worked for me:

[code]

Following what @Vlaaaaaaad did before, I've [forked](https://github.com/jackdcasey/github-action/tree/python3.8-nodejs13) the action, and updated the docker image to one with Python 3.8 installed.

Hope this can save some headaches! 😁

[2020-04-24 05:55] ollisala commented on #27
Hi, Same problem here.

[2020-04-25 06:09] GurRonenExplorium commented on #27
Thanks for the workaround @ollisala

[2020-04-29 19:30] matthewpoer opened #28 "Add examples for using Serverless Plugins"
Sharing an example of using this Action with one or more SLS Serverless plugins. Would be nice to add some notes around this to the `README.md`. The key is to set both `args` and `entrypoint` on the step.

Similar tactic is used in #26 to capture `resources.Outputs` data.

[code]

[2020-05-01 07:51] webhacking opened #29 "Failed to download action."
Failed to download action 'https://api.github.com/repos/actions/npm/tarball/master'. Error Response status code does not indicate success: 404 (Not Found).

[2020-05-01 07:52] webhacking commented on #29
Here my configuration

[code]

[2020-05-03 08:10] benjefferies commented on #28
I was just about to start figuring this out but you've saved me some time. Thanks for the issue/documentation @matthewpoer

[2020-05-19 10:39] sweeetland commented on #16
@adim where does the stage env come from in your example?

[2020-05-20 13:00] kaykhancheckpoint commented on #29
Have the same issue, did you manage to fix this?

[2020-05-28 13:40] kaykhancheckpoint opened #32 "How to install a private npm github package during sls deploy"
hi,

My CI/CD serverless deploy is failing because its not able to install a private npm package.

[code]
Usually i solve this using a webfactory/ssh-agent@v0.2.0 so the first npm install works fine here and it manages to install the private package using the SSH key provided.

However during serverless deploy i get the above error and it cannot install the private npm package. Is there a way i ca

[2020-05-28 14:23] kaykhancheckpoint commented on #32
Ive come up with a solution but it meant i had to move away from this action.

[code]

[2020-05-29 07:57] #32 closed

[2020-06-13 15:54] jdrydn commented on #25
Node 10.x right? What's the difference between this repo/action, that gist, or just:

[code]

[2020-06-21 17:26] fabianriewe commented on #29
Hi, i fixed the issue by using a new step:

[code]

[2020-06-21 17:27] fabianriewe commented on #16
Hi, you can get your environment by setting it in a specific step:

[code]

[2020-06-22 09:11] webhacking commented on #29
@fabianriewe Thx

[2020-06-22 09:11] #29 closed

[2020-06-26 14:24] arpecop opened #33 "Cannot deploy"
[code]
![Screenshot 2020-06-26 at 17 21 19](https://user-images.githubusercontent.com/168974/85867608-d18dcb00-b7d1-11ea-9cbd-291c81226df6.png)

I added GitHub to serverless and my repos are listing there

[2020-06-27 21:19] seancsnyder commented on #3
I'm having the same issue once I added the python-requirements plugin to by serverless project. @jackdcasey fork fixed it for me as well using python3.8

[2020-07-14 15:21] ffxsam opened #35 "Error: SSL peer certificate or SSH remote key was not OK"
I'm getting the following error when trying to use this action:

error: API request failed
  caused by: [60] SSL peer certificate or SSH remote key was not OK

The step config:

[code]

[2020-07-14 15:23] #35 closed

[2020-07-21 06:53] teamzz111 commented on #18
@DarinDev1000  works, you're awesome.

[2020-08-07 20:46] carlosvini commented on #33
Have you tried?

[code]

[2020-08-08 01:50] nclaveeoh commented on #33
I ran into the same problem using the AWS key approach, go with SERVERLESS_ACCESS_KEY instead. Go here to see how to create a serverless access key: https://www.serverless.com/framework/docs/dashboard/cicd/running-in-your-own-cicd/

[2020-08-08 21:23] teamzz111 opened #36 "DOTENV cannot find .env file"
Hi guys, assuming

[2020-09-04 14:24] #14 closed

[2020-09-04 14:42] DavideViolante commented on #36
Secrets are stored in repo Settings -> Secrets, so a secret with `SERVERLESS_ACCESS_KEY` must be created in the repo to use this action.

[2020-09-04 14:49] DavideViolante commented on #25
I requested access to maintain this repo and I just merged some old PRs that prevented this action to work correctly.
Any feedback is welcome here about next steps and improvements to do. :+1:

[2020-09-04 22:12] DarinDev1000 commented on #14
Thanks

[2020-09-05 06:06] teamzz111 commented on #36
I've setted secrets, but error persists.

![image](https://user-images.githubusercontent.com/37392536/92298964-ed20fa80-ef13-11ea-920c-f71d5d9d3ae1.png)

[2020-09-09 13:45] TorbjornHoltmon commented on #21
I can't find out how to deploy from a different directory... To be able to decide what directory to deploy from is a must-have feature.

[2020-09-10 18:06] epsilonlambda opened #39 "v1.82.0 Dockerfile installs the latest serverless from npm (which is now v2.0.0 as of a few hours ago)"
Ever since the new serverless release v2 is out (https://github.com/serverless/serverless/releases/tag/v2.0.0), I've been unable to deploy my v1 project with github-action v1.82.0.

Failing step from my GitHub Actions pipeline:
[code]
Output from the serverless deploy step:
[code]

Framework version from my serverless.yml:
[code]

I am suspecting that the following line in v1.82.0 (https://github.

[2020-09-14 07:10] DavideViolante commented on #39
Thanks, https://github.com/serverless/github-action/commit/c94a5fdf2236df60af9f01404deca85121eabcf0
Let me know if it works now.

[2020-09-14 19:39] #39 closed

[2020-09-17 04:35] svarughese91 opened #40 "Deploy not working"
My serverless deploy to AWS was working fine this morning and now all of a sudden its failing and throwing this error:

Serverless: Publishing service to the Serverless Dashboard...
TypeError: Cannot read property 'fetch' of undefined
    at parseDeploymentData (/opt/hostedtoolcache/node/10.22.0/x64/lib/node_modules/serverless/node_modules/@serverless/enterprise-plugin/lib/deployment/parse.js:159:

[2020-09-18 09:16] Gdewilde commented on #40
Hi, you need to upgrade serverless to 3.1.1

[2020-09-18 10:49] svarughese91 commented on #40
@Gdewilde isnt the latest version of serverless 2.1.1?  https://www.npmjs.com/package/serverless

[2020-09-18 11:17] Gdewilde commented on #40
Yes, sorry about that 😅

[2020-10-03 04:44] RaevLogic commented on #39
I'm just going to point out that while you did fix his issue, now the action is only downloading version 1.82, so all of us with "frameworkVersion" (2) are now getting the same error he was lol.

[2020-10-03 14:09] epsilonlambda commented on #39
I think that the master branch (as opposed to commits tagged with version tags) should not have a version on that line (`RUN npm i -g serverless`)

[2020-10-03 14:19] RaevLogic commented on #39
We were running into the problem last night and eventually just had to stop using this action and have our ci/cd install serverless manually. I'm not super familiar with how to set up these actions, but I see someone has a PR ready to merge that bumps this action's serverless version up to 2.1.0, which will just give @epsilonlambda problems again if he stays with "frameworkVersion" (1)

[2020-10-03 14:29] epsilonlambda commented on #39
The PR wouldn't break my build, because I'm using a tag, not the master branch version of the action.

[2020-10-03 15:00] RaevLogic commented on #39
My mistake then, apologies. Must be something else on our end.

[2020-10-03 15:02] epsilonlambda commented on #39
@RaevLogic, my point is that if the PR is merged, it should fix your build, and it wouldn't break mine

[2020-10-05 07:48] DavideViolante commented on #40
it should be fixed now.

[2020-10-05 07:48] #40 closed

[2020-10-12 09:58] giorgosera opened #42 "Deploy fails with "This command can only be run in a Serverless service directory.""
I have the following workflow file at `.github/workflows/deploy-serverless.yml`. It is identical to the one in the README except for the `npm ci` line.

[code]

When I run this action it fails at the step `serverless deploy` with the following error:

[code]

Am I supposed to put the workflow file in my service directory? If yes how will github find it and run it? Maybe I'm missing something obvio

[2020-10-13 18:38] giorgosera commented on #42
My bad! I was running the github action in the wrong directory. I set it using the `working-directory` param and it worked.

Sorry for the unnecessary issue.

[2020-10-14 15:47] craig-dae commented on #3
@jackdcasey My project has multiple serverless projects that need to be delpoyed. That github action doesn't appear to support `working-directory`, so i can't deploy it if it's not in the root. Do you know how to fix this?

[2020-10-15 08:14] DavideViolante commented on #3
Let me know if the PR is ok so I can merge it and solve the problem for anyone working with Python.

[2020-11-28 20:48] mlg87 commented on #36
@teamzz111 are you using `serverless-dotenv-plugin`?

[2020-11-28 20:49] teamzz111 commented on #36
Yes

[2020-11-29 03:54] mlg87 commented on #36
@teamzz111 remove that from your plugins and it will work. that plugin is attempting to find an `.env` file (which i assume you havent checked in)

[2020-12-15 02:58] zuojianghua commented on #36
i use .env for TENCENT_SECRET_ID & TENCENT_SECRET_KEY, but it still need `serverless login`

how do I distinguish between AWS and TENCENT Cloud?

[2020-12-15 07:32] teamzz111 commented on #36
I use .env vars for databases, keys etc. I really need this file

[2021-01-03 05:40] bhumijgupta opened #44 "Upgrade to latest version of serverless"
Currently in the dockerfile we are locking serverless install to v2.1 while the current version is v2.17.1
https://github.com/serverless/github-action/blob/3ffc018507c4970c8ed1112c37e0f896a5b886b5/Dockerfile#L14

This would cause people using newer features to get unknown directive/rule warning and incompatibility issues.
The 2 ways I can think of solving this is:-
1. Upgrade the dockerfile to ver

[2021-01-03 11:44] DavideViolante commented on #44
Thanks, I agree that is not convenient to upgrade the version each time, so I [committed](https://github.com/serverless/github-action/commit/a0cec0c331a05b468e093fb1f4b8e051fb628076) a change to install `v2.x`, in that way it will install the latest v2 version but won't install a future potentially breaking v3 version.

[2021-01-03 11:44] #44 closed

[2021-01-03 12:00] #3 closed

[2021-01-03 12:01] #27 closed

[2021-01-03 12:04] #28 closed

[2021-01-03 12:05] DavideViolante commented on #13
https://github.com/serverless/github-action/issues/28

[2021-01-03 12:05] #13 closed

[2021-01-03 12:06] #16 closed

[2021-01-04 20:42] gardarik opened #45 "Node version set to 12, still serverless is using node 14"
With latest `serverless/github-action@master`
I'm getting `sls deploy` error at `fullstack-serverless` plugin step

![image](https://user-images.githubusercontent.com/45370035/103577636-2dcd5800-4ea3-11eb-8424-8b77b1c67194.png)

`Error: Missing binding /github/workspace/client/events-app/node_modules/node-sass/vendor/linux-x64-83/binding.node
Node Sass could not find a binding for your current env

[2021-01-04 21:18] #45 closed

[2021-01-04 21:18] gardarik commented on #45
Please ,disregard

[2021-01-29 12:48] yeukfei02 opened #46 "error nodejs yarn project?"
[code]

I think this github actions didn't read `yarn.lock` in project
will anyone help to make this happen?

[2021-01-29 13:09] yeukfei02 commented on #46
[code]

ok just figure out, I need to change to this:

`- run: yarn`

I think the doc/readme.md need to update to make it clear...

[2021-02-05 01:18] #46 closed

[2021-02-15 05:33] hasibhassan opened #47 "Typo on marketplace for this action"
When you go to the marketplace for this action and click on the "Use latest version" button to copy the yaml snippet, the modal reads "Wraps the Serverless Fram**e**ork to enable common Serverless commands"

[2021-02-22 15:57] matthewpoer commented on #28
Update for all those who find this the hard way: `serverless plugin install ...` will find and install the latest version of a plugin. You can tag specific versions

[2021-02-22 16:11] matthewpoer commented on #28
Update for all those who find this the hard way: `serverless plugin install ...` will find and install the latest version of a plugin. You can tag specific versions, but I found this easier:

[code]

The extra `npm list` bits are nice to check versions :D

[2021-03-01 17:46] tyvdh commented on #42
@giorgosera Can you share the yml file you used to get this to work? What changes did you make, where did you put the `working-directory` value?

[2021-03-13 14:58] gliptak opened #50 "Push v1/v2 tags pointing to latest 1.x/2.x"
This would allow referencing as

serverless/github-action@v2

Example

https://github.com/actions/setup-java/tags

[2021-03-26 13:48] nevins-b opened #52 "Updating to v2.18.0 breaks recommended plugin install"
the recommended setup from #28 no longer works due to bash missing in the image

[code]

[2021-03-29 12:25] What1s1ove commented on #52
Is there any way I can fix this?

[2021-03-29 14:00] nevins-b commented on #52
adding `RUN apk add bash` should install bash into this container and allow this to continue to work

[2021-03-31 06:56] anandg112 commented on #52
or you can use the entrypoint as:
`entrypoint: /bin/sh`

as the new base image is alpine

[2021-03-31 14:55] #52 closed

[2021-04-05 13:47] fabiopaiva commented on #42
I'm also struggling to configure the working directory

[2021-04-08 09:12] ZubkoWhatislove commented on #20
waiting for a solution to the problem ☹️

[2021-05-12 22:54] kpeters-cbsi commented on #3
Your fork only has Serverless 1.x. :(

[2021-05-14 11:45] leevi978 commented on #20
Any updates on this?

[2021-06-08 00:39] Blackglade opened #53 "Deploy failing: This command can only be run in a Serverless service directory."
I have a mono repo project and a separate directory that contains the serverless yaml file. Is there a way to set the directory to execute from in the github action.

I tried doing something like this:

[code]

but without any luck.

[2021-06-10 02:23] the1adi commented on #53
I am experiencing the same issue. I tried using the working directory setting and it still did not work.

This is my main.yml:
`name: Deploy master branch

on:
    push:
        branches:
            - master

jobs:
    deploy:
        name: deploy
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./app
        strategy:
            matrix:

[2021-06-18 00:48] anjali89r opened #54 "Push latest version to Market Place"
Github marketplace still shows only 1.53 version available in the marketplace. How can I access the latest version of serverless github action?

[2021-06-18 06:10] DavideViolante commented on #54
If you use the example in the readme you are going to use the master branch instead of the tag version:
`uses: serverless/github-action@master`

I'm currently not able to change the marketplace for this action, I think only @dschep can.

[2021-06-18 12:57] dschep commented on #54
Publishing to the marketplace is done via releases. It looks like you just need to check a box when you make the releases @DavideViolante. I don't have any perms in this repo, so I can't do it. If only I can create the market releases for some reason, github support will probably be needed as the action is effectively orphaned since no-one can publish both releases in this repo & marketplaces rele

[2021-06-18 17:35] DavideViolante commented on #54
There is no checkbox for me when creating a new release. I've the checkbox on my own repos btw.

[2021-06-21 15:44] dschep commented on #54
Sounds like a problem for Github Support. I don't have the ability to make releases (and don't want it).

[2021-06-21 16:47] deathemperor commented on #53
couldn't find anyway to make it run either. I think it's because of this:

`-v "/home/runner/work/berry/berry":"/github/workspace"`

By default the serverless docker maps the parent folder. Would be nice if there's an option to change that.

[2021-06-21 17:08] deathemperor commented on #42
same, would love to know which fixed it

[2021-06-21 17:16] giorgosera commented on #42
Hey everyone,

Unfortunately, it's been a while and I cannot recall how I fixed it! I thought that my follow up message would help othersin the future but apparently it doesn't.

I hope you find a workaround! I know how frustrating it can be :(

[2021-06-21 18:06] DavideViolante commented on #42
I think he added in the yml the `working-directory` command supported by the GitHub Actions.
Example taken from [here](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions) (search for working-directory in the page):

[code]

[2021-06-21 18:13] deathemperor commented on #42
I tried but failed. Ended up doing without `serverless@github-action` by writing my own

[code]

[2021-06-21 18:16] deathemperor commented on #53
Ended up writing my own commands.

[code]

[2021-06-21 21:33] DavideViolante commented on #50
Pushed the v1 branch and tag.
To use v2, one can either use master or specify the latest tag such as v2.18.0.

[2021-06-21 21:33] #50 closed

[2021-07-06 22:38] boldandbusted commented on #54
It looks like releases have been made, so should this Issue stay open? :)

[2021-07-07 13:33] dschep commented on #54
@boldandbusted only on this repo, not in the marketplace. That's still at 1.53.0: https://github.com/marketplace/actions/serverless

[2021-07-07 13:54] boldandbusted commented on #54
Ah, yes, my bad. Thank you.

[2021-07-07 18:01] DavideViolante commented on #54
I think that only the owner of the repo can publish to the marketplace.

[2021-07-27 14:28] georgeboot commented on #54
If I'm not mistaking, publishing to the marketplace should also have the benefit of not having to build the image on each run, since your action will use a cached version from marketplace.

[2021-08-07 18:42] walkerab commented on #42
I got around this by moving the serverless project to the root of the repo.

Not ideal but it got me unstuck.

[2021-08-13 06:22] prateek105 commented on #36
@teamzz111 hi, I am facing same issue in github actions. Did you find a solution for this issue?

[2021-08-13 06:36] teamzz111 commented on #36
Remove the plugin or remove your env from gitignore.

[2021-08-13 06:56] prateek105 commented on #36
I have removed the plugin. Still when I deploy lambda via github actions I can not see any environment variables on aws console. How do i setup the environment variables for the lambda function. I am using [this](https://github.com/marketplace/actions/serverless) for my gihub actions

[2021-08-16 17:36] russellc92 commented on #53
You need to set the config variable on the serverless deploy command to the path of the serverless.yml file:

[code]

[2021-08-16 17:38] russellc92 commented on #42
See: #53

[2021-08-20 18:45] peimanja commented on #53
This does not work if you are loading other files in your `serverless.yml` .
[code]

[2021-08-24 15:41] porthunt commented on #28
For anyone getting this error:

[code]

Change the entrypoint to `/bin/sh`. It affects >2.18.0 (therefore master too).

More info on #52

[2021-08-25 13:53] janoist1 opened #55 "My NPM config env variables are ignored"
I need to use the following environment variables in order for npm to install the correct stuff:
- npm_config_arch: x64
- npm_config_platform: linux

At the moment, `linuxmusl` is used instead of `linux`. Why is that? How to fix it?

[2021-08-29 19:12] StephenGrable1 commented on #53
Anyone encountering this thread who's following best practices and splitting their serverless app into separate directories, follow @deathemperor solution above (or my slightly simplified one below) to roll your own deployment step for each of your services.

Any semi-mature application will eventually need to split their code. I recommend you do not consolidate your separate services into the roo

[2021-09-06 11:05] jatinmehrotra opened #56 "404 error for serverless error message"
You are not currently logged in. Follow instructions in http://slss.io/run-in-cicd to setup env vars for authentication.

  http://slss.io/run-in-cicd results in 404 error page

[2021-09-06 11:42] DavideViolante commented on #56
https://www.serverless.com/framework/docs/guides/cicd/running-in-your-own-cicd/

[2021-09-08 06:08] jatinmehrotra commented on #56
it would be great if the error message in the action can be updated with proper link

[2021-09-08 08:46] DavideViolante commented on #56
The link comes from serverless itself, it's not coded in this action afaik.

[2021-10-08 03:34] tx0c opened #58 "alpine based image has caused CI built wrong binaries for AWS Lambda, do you still maintain another debian slim based image?"
the #51 alpine based image has caused CI built wrong binaries for AWS Lambda, See https://github.com/thematters/serverless-file-post-processing/issues/441#issuecomment-938110211 because it has arch dependent npm packages (like [sharp](https://www.npmjs.com/package/sharp)); this alpine based image has caused Lambda failure

[code]

after this I have manually built Lambda with `sls package`, got the

[2021-10-08 04:40] anandg112 commented on #58
@tx0c  Please see this answer on Stackoverflow - https://stackoverflow.com/a/60037879

- You can have  `.dockerignore` file and add package.lock + node_modules folders to it, then rebuild and now only use docker.
- You can also install `sharp` at runtime in docker

[2021-11-22 11:16] hutch120 commented on #53
VERY frustrating ... feels like serverless.com is no longer really making it easier to deploy, and now is more focused on locking in customers.

It appears that the serverless client now enforces the need for `SERVERLESS_ACCESS_KEY` and given that, pretty much might as well use linked AWS account in serverless.com UX console.

My subdirectory is called `server`. Also note the use of `working-direc

[2021-11-22 11:33] pgrzesik commented on #53
@hutch120 Could you elaborate more what is the problem here? Serverless never requires the use of SERVERLESS_ACCESS_KEY, what makes you think that is the case?

[2021-11-22 11:48] hutch120 commented on #53
@pgrzesik Thanks for the note. Sure... here are logs of attempting to run without `SERVERLESS_ACCESS_KEY`.  Literally the only change required to get my deploy to work is to add a valid `SERVERLESS_ACCESS_KEY` to the `env` section of the yaml file.

[code]

[2021-11-22 12:24] pgrzesik commented on #53
Hey @hutch120 - thanks for responding. Based on the error message it seems like you're using Serverless Dashboard integration in your service - do you have `org` and `app` properties defined in your `serverless.yml`? If that's the case, then yes, SERVERLESS_ACCESS_KEY is required, because otherwise it would be impossible to use the Dashboard integration. If you are not using Dashboard, you can rem

[2021-11-22 21:39] hutch120 commented on #53
@pgrzesik Thanks for the info. I stand corrected. I've updated my initial comment. FYI I guess the reason I got to the point was by following along with [this general guide](https://www.serverless.com/framework/docs/guides/dashboard) and [this CI guide](https://www.serverless.com/framework/docs/guides/cicd/running-in-your-own-cicd)

[2021-11-23 09:04] pgrzesik commented on #53
Hey @hutch120 - happy I could help clear up some misunderstanding :+1: As for these guides, I'm looking at them and I see that the second one about CI setup might definitely be misleading, as it suggests that if you're using CI, then you need to use Dashboard which is definitely not the case. I'll bring it up internally so we can clear that confusion in documentation as well :+1:

[2021-12-06 08:08] marayshi commented on #20
You can execure deploy multiple times in same file, each time with different serverless config file

Dev
[code]

Prod
[code]

[2021-12-19 17:28] memark commented on #54
Any updates?

[2021-12-22 18:31] maguayo opened #59 "EACCES: permission denied"
My code:
[code]

[code]

I tried with version 2.17.1 and with master, and its the same error.

[2021-12-27 13:56] surajr3 commented on #18
facing the same issur, can we re-open this

[2021-12-27 15:32] alexrocco commented on #18
Also facing the same issue.

[2021-12-28 09:02] surajr3 commented on #18
Github actions had an outage yesterday at US, this is the reason
https://www.githubstatus.com/incidents/gh0vvxtlj5v7
It started working fine after 6 hours,
we can close this

[2022-01-07 22:54] marcelloromani commented on #26
Thank you @matthewpoer

Just want to add that I'm using `v2.18.0` and had to change the shell to `/bin/sh`.

[2022-01-11 01:24] VictorHadziristic commented on #59
Any update on this?

[2022-01-11 14:02] maguayo commented on #59
I created my own Github Action because this one is not maintained

`name: Deploy master
on:
  push:
    branches:
      - master
jobs:
  deploy-master:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "10.x"

      - name: Install Serverless Framework
        run: npm install -g serverless

      - nam

[2022-01-14 15:42] manschutz-samsung opened #60 "Builds of docker containers fail"
As this run inside of a Docker container, Docker itself isn't available for building docker images for Lambda functions.

Ideally this container should be updated to have docker installed and the volume mapping to the master docker service, or at least a note decsribing the limitation or workaround on the main README.md file.

[2022-01-16 09:45] Schachte commented on #59
Thanks @maguayo .

For those who leverage external plugins in their serverless yaml, be sure to run a dependency installation phase as well. Some variation of below should be sufficient depending on what you're trying to achieve.

[code]

[2022-01-16 19:05] Schachte commented on #56
https://ryan-schachte.com/posts/serverless-deployments-with-github-actions-on-aws

I wrote a post setting this deployment up on Github actions. Might help some people out there.

[2022-01-16 19:05] Schachte commented on #53
https://ryan-schachte.com/posts/serverless-deployments-with-github-actions-on-aws

I wrote a post setting this deployment up on Github actions. Might help some people out there.

[2022-02-03 10:56] hemantfaze opened #62 "serverless/github-action@v2"
This is not working ! We have a major release in 1 hour, can't deploy any of services because of this

[2022-02-03 11:04] hemantfaze commented on #62
I have forked and changed the version for now. Probably will use the forked version from now on.

[2022-02-03 14:34] DavideViolante commented on #62
This does not work?
[code]

Try if this works and let me know, thanks:
[code]

[2022-02-03 15:19] DavideViolante commented on #62
It should now be solved, thanks for the issue. I thought the `v1` was referring to a tag, but in fact it was referring to a branch. The v2 branch was not existing, so it was not working.
I also pushed v3 branch aligned with master for being able to write `github-action@v3` (recommended).
In general never use the master version of an action.

[2022-02-03 15:19] #62 closed

[2022-02-03 15:24] DavideViolante commented on #54
@dschep can you please [check if you can push this tag](https://github.com/serverless/github-action/releases/edit/v3.0.0) to the marketplace? As I said it seems like contributors don't have access to push to the marketplace, only you have.
Thanks.

[2022-02-07 14:45] dschep commented on #54
@DavideViolante nothing has changed since 2021. I don't have permissions to do that (your link redirects me to https://github.com/). I still recommend contacting github support. cc @jeremydaly @ac360

[2022-02-16 14:40] dhaval-vithalani opened #64 "Verified github action"
Would it be possible to get the [verified ](https://docs.github.com/en/actions/learn-github-actions/finding-and-customizing-actions)status for this action on github? This could help us adopt this because some enterprise organizations require this certification.

[2022-03-01 17:33] MadebyAe commented on #17
👋🏼 [amaurym](https://github.com/amaurym)

Just wondering... Did you found any work-around? I am having same issue.

[2022-03-05 22:11] nikhuber commented on #53
I handled this issue by overriding the `ENTRYPOINT` and changing to the directory that contains my `serverless.yml` this way

[code]

Change `<your-dir>` to your target directory.

[2022-03-16 23:07] bernier opened #65 "Deploying from a subdirectory"
Hi,

I would like to have the following project structure but I couldn't make it work with the v2, wondering if it's now supported.

[code]

Basically, it doesn't seem possible to define a working directory for the serverless app.
This is what I'm using for the frontend directory in my pipeline.yaml, I would like to do something similar for the backend directory.

[code]

Thanks!

[2022-05-19 12:57] marcelloromani commented on #33
Also check whether you have
[code]
defined in `serverless.yaml`

I had, but they were wrong: removing those keys altogether fixed the "you are not logged in" issue for me.

[2022-05-30 06:58] tx0c commented on #58
seeing @DavideViolante still makes changes in 2022, is aware of the switching to alpine makes it unusable to glibc depended npm packages (like sharp) ?

[2022-05-30 07:02] tx0c commented on #25
suggest to revert the alpine changes in #51 (cc @anandg112) back to a glibc based image,
https://github.com/serverless/github-action/issues/58#issuecomment-939186357

[2022-05-31 05:19] nnuguid-locii opened #66 "Use aws credentials from aws-actions/configure-aws-credentials@v1"
i need to assume a role in order to deploy. aws-actions has a way to this. is there a way for the serverless/githhub-action to use those credentials?

[2022-05-31 08:09] DavideViolante commented on #53
Thanks, I added this info in the readme.

[2022-05-31 08:12] DavideViolante commented on #65
Try this:
[code]
from https://github.com/serverless/github-action/issues/53#issuecomment-1059839383

[2022-05-31 08:15] #42 closed

[2022-05-31 08:18] #18 closed

[2022-05-31 08:37] DavideViolante commented on #58
`uses: serverless/github-action@v3.1` (or master) now uses `python3.10-nodejs16-slim`

[2022-05-31 17:06] lopezm1 commented on #60
I found the answer is to just `npm install -g serverless` and ignore this Github Action for now. Run those commands yourself. Once this action provides support for the `docker` commands we could use it 😢

[2022-06-02 17:46] sergiors opened #68 "libc.musl-x86_64.so.1: cannot open shared object file:"
Hi, recently I added the following workflow to my project:

[code]

The functions that have pydantic as a dependency suddenly throw the following error:

[code]

If I deploy from my computer, the function works fine.

Does anyone have any idea what the heck happened?

[2022-06-03 10:23] DavideViolante commented on #68
Let me know if this happens with `uses: serverless/github-action@v3.1` too

[2022-06-03 20:09] willgorick opened #69 "No such file or directory 'package.json'"
I have the following steps in my github action .yml file:
`steps:
      - uses: actions/checkout@v2
      - name: Enter serverless dir and deploy
        uses: serverless/github-action@v3.1
        with:
          args: -c "cd ./src/serverless && serverless plugin install --name serverless-plugin-tracing && serverless deploy"
          entrypoint: /bin/sh`

But I'm getting an error, despite the fa

[2022-06-05 13:15] AlexRypun commented on #33
I had the same issue while deploying with bitbucket pipelines (worked fine from the local machine).
The removal of "org: *****" from serverless.yml solved the problem.

Any ideas where the root of the problem is?

[2022-06-14 10:12] bartoszswitalski opened #70 "Error: Cannot find module 'serverless'"
Hey all.

Whenever I manually deploy by calling for example:
`serverless deploy --stage prod`
deploy passes and I can then call deployed API endpoints.

If I use the script the deploy also passes but when I try to query I receive Internal Server Error and this is seen in the logs:
![image](https://user-images.githubusercontent.com/45360754/173552056-7e3e4c33-b472-46ab-bf84-f9a59cc08062.png)

**Que

[2022-06-23 11:33] taimurworks98 opened #71 "WebpackOptionsValidationError: Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema."
✔ Plugin "serverless-bundle" installed  (105s)
Running "serverless" from node_modules
Deploying auction-service to stage dev (eu-west-1)
Using configuration:
{
  "packager": "npm",
  "concurrency": 2,
  "packagerOptions": {},
  "webpackConfig": "node_modules/serverless-bundle/src/webpack.config.js",
  "includeModules": {
    "forceExclude": [
      "aws-sdk"
    ],
    "forceInclude": null,
    "p

[2022-06-25 00:08] MadebyAe commented on #17
👋 I had a similar issue. I just added this line to my `serverless.yaml`

[code]

But now I have a different issue:

[code]

Any ideas? Thanks in advance.

[2022-07-05 18:33] pmckl commented on #69
The indent is wrong in you example, the entrypoint should be in the same level as args:

[code]

[2022-07-05 23:51] willgorick commented on #69
Sorry that was just a copy pasting mistake, the indentation of the entrypoint line is the same as args in my actual repo.  I've updated my original comment to reflect this

[2022-07-18 11:03] jmrodriguez-lab opened #72 "No support for lambda with docker images"
Deploying lambdas using docker images instead of layers is possible with serverless as explained [here](https://www.serverless.com/blog/container-support-for-lambda). An example:

[code]

however, this requires `docker` command to be available in docker image specified in the `Dockerfile`, which is not installed.

Could it be added, please? :-)

[2022-07-25 15:20] AntonOellerer opened #73 "Deploy python function"
Hey,
I am currently unsucessfully trying to deploy a python serverless function with the github action.
My `deploy.yml`:
[code]

I also tried it with the approach suggested in the `README.md`, using
[code]
but it did not work either. (If I am understanding the workflow correctly, `npm ci` should install the plugin, and the error message is coming from the plugin, so I think it should work either w

[2022-08-23 09:56] Ddevon commented on #28
does this not relevant if the plugins were installed with npm?

[2022-09-29 23:53] sergiors commented on #73
you need to use `serverless/github-action@v3`

[2022-09-29 23:56] sergiors commented on #68
@DavideViolante I did not run it, because lambda does not support python 3.10 yet

[2022-09-30 00:31] sergiors commented on #68
I solved the problem using the following action:

[code]

[2022-10-11 23:53] gshigenaka01 commented on #72
I had this same issue as well but ended up not using this github-action. Try installing serverless manually and running the deploy command and that worked for me.

[2022-10-27 16:43] JoMingyu commented on #73
this saved me

[2022-11-07 07:17] hansheng654 commented on #16
how do you run it with severless plugin install?